body {
    color: white;
    background-image: url(images/background.jpg);
    scroll-behavior: smooth;
    font-size: 25px;
  }
  
  /* Background drop  */
  .everything {
    background-color: black;
    width: 100%;
    height: 100%;
  
    animation-name: frame;
    animation-duration: 17s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes frame {
    from {
      height: 0px;
    }
  
    to {
      height: 4150px;
    }
  }
  /* Background drop end */
  
  
  /* fade in */
  .fade-in {
    position: relative;
    animation: fadeIn 40s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  /* fade in end */
  
  
  .header-h1 {
    margin-left: 110px;
  }
  
  .header-nav {
    border: ridge silver 10px;
    padding: 10px 0px;
  }
  
  /* link glowing effect */
  .header-link {
    padding: 10px 30px;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    text-decoration: none;
  }
  
  .header-link:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
  }
  
  .header-link:active {
    color: #000
  }
  
  .header-link:active:after {
    background: transparent;
  }
  
  .header-link:hover:before {
    opacity: 1;
  }
  
  .header-link:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 50px;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  /* link glowing effect end */
  
  
  #hi-txt {
    font-size: 60px;
    letter-spacing: 3.5px;
  }
  
  .header-txt {
    padding-top: 50px;
  }
  
  /*Waving emoji*/
  .waving-hand {
    animation: wave 2.1s 0.6s infinite;
    position: absolute;
    transform-origin: 75% 75%;
    display: inline-block;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0.0deg)
    }
  
    10% {
      transform: rotate(16.0deg)
    }
  
    20% {
      transform: rotate(-6.0deg)
    }
  
    30% {
      transform: rotate(16.0deg)
    }
  
    40% {
      transform: rotate(-4.0deg)
    }
  
    50% {
      transform: rotate(16.0deg)
    }
  
    60% {
      transform: rotate(0.0deg)
    }
  
    100% {
      transform: rotate(0.0deg)
    }
  }
  /*Waving emoji end*/
  
  .section-title {
    border: ridge silver 10px;
    padding: 10px 0px;
  }
  
  
  .projects-section,
  .skills-section,
  .about-me-section,
  .contact-section {
    margin-top: 150px;
  }
  
  .skills-whole,
  .projects-whole,
  .about-whole {
    padding-top: 110px;
  }
  
  .more-btn {
    width: 80px;
    margin-top: 40px;
    border: solid .5px silver;
    border-radius: 40px;
    background-color: silver;
  }
  
  .more-link {
    text-decoration: none;
  }
  
  .hello-div {
    padding-top: 80px;
  }
  
  .header-txt {
    font-size: 25px;
    width: 750px;
    line-height: 2.5;
    letter-spacing: 2.5px;
  }
  
  #about-text {
    line-height: 2.4;
    letter-spacing: 2.5px;
    font-size: 20px;
  }
  
  .profile-pic {
    margin-top: 15px;
  }
  
  .contact-whole {
    padding-top: 100px;
  }
  
  .contact-btn{
    border-radius: 40%;
    border: solid 2px black;
    border-width: 10px;
    margin-left: 20px; 
  }
  
  .media-btn{
    margin: 7px;
    
  }
  
  .media-div {
    margin-top: 30px;
    margin-left: 100px;
  }
  
  .contact-info {
    margin-top: 40px;
  }
  
  .contact-link {
    text-decoration: none;
    color: silver;
  }
  
  .contact-subtitle {
    text-decoration: underline;
  }
  
  .top-contact {
    margin: 40px 0px;
  }
  
  .text-area-text {
    letter-spacing: 2px;
  }
  
  #footer {
    margin-top: 40px;
    font-size: 12px;
  }
  
  .privacy {
    text-transform: uppercase;
    color: silver;
  }